<div class="fixed-action-btn vertical">
	<a class="btn-floating btn-large black">
		<i class="large material-icons">menu</i>
	</a>

	<ul>
		<li>
			<a href="#" data-activates="buscar" data-position="left" data-tooltip="Buscar" class="btn-floating deep-purple lighten-3 button-collapse tooltipped"><i class="material-icons">search</i> </a>
		</li>
	</ul>
</div>
