<div class="nav-content row">
	<ul class="tabs tabs-transparent">
		<li class="col s1"></li>
		<div class="col s10">
			<li class="tab col s9"><a class="active" href="#test1">Inicio</a></li>
			<li class="tab col s3"><a href="#test2">Entrar</a></li>
		</div>
		<li class="col s1"></li>
	</ul>
</div>
