<% if(mensaje!='') { %>
<div class="row section">
	<div id="respuesta">
		<a class="waves-effect waves-light btn" onclick="xrespuesta()"><i class="material-icons right">closed</i><%= mensaje%></a>
	</div>
</div>

<% } %>
