<div class="fixed-action-btn vertical">
	<a class="btn-floating btn-large black">
		<i class="large material-icons">menu</i>
	</a>
	<ul>
		<li>
			<a
				href="/salir"
				data-target="slide-out2"
				data-position="left"
				data-tooltip="Salir"
				class="btn-floating blue lighten-3 tooltipped"
			>
				<i class="material-icons">exit_to_app</i>
			</a>
		</li>
		<li>
			<a
				href="#subir_img_log"
				data-position="left"
				data-tooltip="Subir recurso"
				class="btn-floating indigo lighten-3 btn modal-trigger tooltipped"
			>
				<i class="material-icons">publish</i>
			</a>
		</li>
		<li>
			<a
				href="#"
				data-activates="buscar"
				data-position="left"
				data-tooltip="Buscar"
				class="btn-floating deep-purple lighten-3 button-collapse tooltipped"
				><i class="material-icons">search</i>
			</a>
		</li>
	</ul>
</div>
