<div class="fixed-action-btn vertical">
	<a class="btn-floating btn-large black">
		<i class="large material-icons">menu</i>
	</a>
	<ul>
		<li>
			<a
				href="/salir"
				data-target="slide-out2"
				data-position="left"
				data-tooltip="Salir"
				class="btn-floating blue lighten-3 tooltipped"
			>
				<i class="material-icons">exit_to_app</i>
			</a>
		</li>
		<% if (user.typeuser==='usuarioBasico') { %>
		<li>
			<form id="checkout" action="/checkout" method="POST">
				<script
					src="https://checkout.stripe.com/checkout.js"
					class="stripe-button"
					data-key="<%=STRIPE_PUBLIC_KEY%>"
					data-name="Proyecto-Z"
					data-description="Membresia"
					data-image="img/minilogo.jpg"
					data-locale="auto"
				></script>
				<script>
					document.getElementsByClassName('stripe-button-el')[0].style.display =
						'none';
				</script>
				<button
					class="btn-floating yellow darken-4 waves-effect waves-light tooltipped"
					data-position="left"
					data-tooltip="Membresia"
					name="action"
				>
					<i class="material-icons">star_border</i>
				</button>
			</form>
		</li>
		<% } %>
		<li>
			<a
				href="#subir_img_log"
				data-position="left"
				data-tooltip="Subir recurso"
				class="btn-floating indigo lighten-3 btn modal-trigger tooltipped"
			>
				<i class="material-icons">publish</i>
			</a>
		</li>
		<li>
			<a
				href="#"
				data-activates="buscar"
				data-position="left"
				data-tooltip="Buscar"
				class="btn-floating deep-purple lighten-3 button-collapse tooltipped"
				><i class="material-icons">search</i>
			</a>
		</li>
	</ul>
</div>
