<div class="nav-content row">
	<ul class="tabs tabs-transparent">
		<li class="col s1"></li>
		<div class="col s10">
			<li class="tab col s3 m6"><a class="active" href="#test1">Inicio</a></li>
			<li class="tab col s3 m2"><a href="#test2">jpg</a></li>
			<li class="tab col s3 m2"><a href="#test3">png</a></li>
			<li class="tab col s3 m2"><a href="#test4">psd</a></li>
		</div>
		<li class="col s1"></li>
	</ul>
</div>
