<div class="nav-content row">
	<ul class="tabs tabs-transparent">
		<li class="col s1 hide-on-small-only"></li>
		<div class="col s12 m10">
			<li class="tab col s3 m4">
				<a class="active" href="#test1" id="muro">Inicio</a>
			</li>
			<li class="tab col s2 m2"><a href="#test2">jpg</a></li>
			<li class="tab col s2 m2"><a href="#test3">png</a></li>
			<li class="tab col s2 m2"><a href="#test4">psd</a></li>
			<li class="tab col s3 m2"><a href="#test5">Archivo</a></li>
		</div>
		<li class="col s1 hide-on-small-only"></li>
	</ul>
</div>
