<div class="container row" id="archivo"></div>
<script>
	(archivos = async () => {
		var userAFI = ['<%=user.username%>'];
		// alert(userAFI[0]);
		var datos = new URLSearchParams({
			userAFI,
		});
		// alert(datos);
		var carpetas = await fetch('/carpetas', {
			method: 'POST',
			body: datos,
		});
		carpetas = await carpetas.json();

		carpetas.forEach((item) => {
			if (item.contenido.idImg != '') {
				item.contenido.forEach((img) => {
					archivo.innerHTML += `
						<div class="col s12 m4 l3">
							<div class="material-placeholder">
								<a class="waves-effect waves-light modal-trigger" href="#${img.idImg}">
								<img src="img/${img.ruta}" class="responsive-img " alt="" />
								</a>
							</div>
						</div>
					`;
				});
			}
		});
	})();
</script>
