<!-- side bar -->
<ul id="slide-out1" class="sidenav collapsible expandable"></ul>
<ul id="slide-out2" class="sidenav collapsible expandable"></ul>

<!-- Busqueda -->
<ul id="slide-out4" class="sidenav ">
	<li>
		<nav>
			<div class="nav-wrapper deep-purple lighten-3">
				<form>
					<div class="input-field">
						<input id="search" type="search" required />
						<label class="label-icon" for="search"><i class="material-icons">search</i></label>
						<i class="material-icons">close</i>
					</div>
				</form>
			</div>
		</nav>
	</li>

	<li>
		<table>
			<thead>
				<tr>
					<th>busquedas recients</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<div class="chip">
							<img src="img/fondo_baner.jpg" alt="Contact Person" />
							Jane Doe
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</li>
	<li>
		<table>
			<thead>
				<tr>
					<th>Tendencias</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<div class="chip">
							<img src="img/fondo_baner.jpg" alt="Contact Person" />
							Jane Doe
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</li>
</ul>
