<!-- orientacion -->
<div class="col s12 m6">
	<div class="card blue-grey darken-1">
		<div class="card-content white-text">
			<div class="input-field">
				<select name="orientacion" required>
					<option value="" disabled selected class="white-text">Orientacion</option>
					<option value="Horizontal" data-icon="" class="left">Horizontal</option>
					<option value="Vertical" data-icon="" class="left">Vertical</option
					><option value="Cuadrado" data-icon="" class="left">Cuadrado</option>
				</select>
			</div>
		</div>
	</div>
</div>
<!-- color -->
<div class="col s12 m6">
	<div class="card blue-grey darken-1">
		<div class="card-content white-text">
			<div class="input-field">
				<select name="color" required>
					<option value="" disabled selected class="white-text">Color</option>
					<option value="azul" data-icon="" class="left">azul</option>
					<option value="rojo" data-icon="" class="left">rojo</option>
					<option value="amarillo" data-icon="" class="left">amarillo</option>
					<option value="rosado" data-icon="" class="left">rosado</option>
					<option value="púrpura" data-icon="" class="left">púrpura</option>
					<option value="profundo-púrpura" data-icon="" class="left">púrpura</option>
					<option value="índigo" data-icon="" class="left">índigo</option>
					<option value="cian" data-icon="" class="left">cian</option>
					<option value="verde azulado" data-icon="" class="left">verde</option>
					<option value="verde" data-icon="" class="left">verde</option>
					<option value="ámbar" data-icon="" class="left">ámbar</option>
					<option value="naranja" data-icon="" class="left">naranja</option>
					<option value="profundo-naranja" data-icon="" class="left">naranja</option>
					<option value="marrón" data-icon="" class="left">marrón</option>
					<option value="gris" data-icon="" class="left">gris</option>
					<option value="blanco" data-icon="" class="left">blanco</option>
					<option value="negro" data-icon="" class="left">negro</option>
				</select>
			</div>
		</div>
	</div>
</div>
